@namespace ct 'http://gionkunz.github.com/chartist-js/ct';

.ct-label{
    fill: black;
    color: black;
}


*{
    font-family: system-ui
  }
  @media (prefers-color-scheme: dark) {
    body{
        background-color: #323232;
        color: white;
    }
    a{
      color: rgb(83, 158, 250)
    }
    .ct-grid{
        stroke: rgba(255,255,255,0.5)
    }
    .ct-label{
        fill: white;
        color: white;
    }
}

pre{
    font-family: monospace;
    overflow: scroll;
}
video{
    width:100%;
    max-width: 600px;
}
.ct-bar[ct|meta="Microsoft"]{
    stroke: green;
}
.ct-bar[ct|meta="Sony"]{
    stroke: blue;
}

table{
    overflow-x: scroll
}