@namespace ct 'http://gionkunz.github.com/chartist-js/ct';

.ct-label{
    fill: black;
    color: black;
}

.ct-bar[ct|meta="Sony"]{
    stroke: #007bff;
}


.ct-bar[ct|meta="Microsoft"]{
    stroke: lime;
}

.ct-bar[ct|meta="Sega"]{
    stroke: skyblue;
}

.ct-bar[ct|meta="Apple"]{
    stroke: darkgray;
}

.ct-label-overlay{
    fill: black;
    color: black;
    font-size: 0.75rem
}

*{
    font-family: system-ui
  }
  @media (prefers-color-scheme: dark) {
    body{
        background-color: #323232;
        color: white;
    }
    a{
      color: rgb(83, 158, 250)
    }
    .ct-grid{
        stroke: rgba(255,255,255,0.5)
    }
    .ct-label{
        fill: white;
        color: white;
    }
    .ct-bar[ct|meta="Microsoft"]{
        stroke: green;
    }
    .ct-bar[ct|meta="Sony"]{
        stroke: blue;
    }
    .ct-bar[ct|meta="Sega"]{
        stroke: #1c61ac;
    }
    .ct-bar[ct|meta="Apple"]{
        stroke: gray;
    }
    .ct-label-overlay{
        fill: white;
        color: white;
        font-size: 0.75rem
    }
    
}
    


table{
    overflow-x: scroll
}

.axisLabel{
    width: 100%;
    text-align: center;
    display: block;
    font-size: 0.75rem
}